* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a, button {
    font-family: Impact, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: #1F2937;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 100px;
    width: 320px;
}

nav {
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.heading_container {
    display: flex;
    background-color: #1F2937;
    
}

.heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    font-size: 45px;
    color: whitesmoke;
    margin-left: 400px;
    margin-top: 100px;
}

.heading_span {
    display: flex;
    font-size: medium;
    font-weight: 300;
    justify-self: center;
    
}

.heading_img {
    height: 300px;
    width: 900px;   
}

.heading_button {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: whitesmoke;
    color: blue;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-timing-function: .5s ease-in-out;
    
}